<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" ui-sref="guide.home">Melvin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" ui-sref="guide.home" ui-sref-active="active">Home</a>
            <a class="nav-item nav-link" ui-sref="guide.tipografias" ui-sref-active="active">Tipografías</a>
            <a class="nav-item nav-link" ui-sref="guide.colores" ui-sref-active="active">Colores</a>
            <a class="nav-item nav-link" ui-sref="guide.tablas" ui-sref-active="active">Tablas</a>
        </div>
    </div>
</nav>