<div>
	<div class="alert alert-success">
		<h6 class="modal-title">Mensaje</h6>
	</div>
	<div class="modal-body" ng-bind-html="mensaje"></div>
	<div class="modal-footer">
		<button ng-click="volver()" class="btn btn-primary">Aceptar</button>
	</div>
</div>