<div>
	<div class="alert alert-primary">
		<h6 class="modal-title">Confirme</h6>
	</div>
	<div class="modal-body" ng-bind-html="mensaje"></div>
	<div class="modal-footer">
		<button ng-click="aceptar()" class="btn btn-primary">Aceptar</button>
		<button ng-click="cancelar()" class="btn btn-secundary">Cancelar</button>
	</div>
</div>